.uploaded_thumbs > ul > li {
  cursor: pointer;
}

.selected:after {
  content: "";
  width: 0px;
  height: 0px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #004d40;
  position: absolute;
  margin-left: -12px;
}
